<html>
    <head>
        <title>{{.Title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/assets/css/style.css">
        <title>Home - My Profile</title>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand ps-5" href="/home">
                    <img src="/public/assets/images/logoBrand.png" alt="logoBrand" width="50"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ps-4" id="navbarContents">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-3">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Add Project</a>
                        </li>
                    </ul>
                    <div class="nav-btn pe-5">
                        <a class="btn btn-dark" href="/contact-form" role="button">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Card Profile -->
        <div class="card mx-5 my-5 shadow-lg">
            <div class="d-flex my-5 justify-content-between">
                <div class=" w-50 ms-5 ps-3 pt-5 my-5 d-inline">
                    <div class="mb-5">
                        <h1 class="text-start pb-2 fw-bold">Hi Welcome to my hut </h1>
                        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique purus orci libero egestas ut.
                            Augue suspendisse blandit lorem massa ipsum, urna, egestas mi, lacinia. Dui fusce etiam libero,
                            lectus amet, risus molestie malesuada. Odio nam purus consectetur euismod congue leo quisque.
                            Turpis amed sollicitudin nunc non in lectus dolor amet. Amet ullamcorper faucibus tincidunt accumsan
                            ac adipiscing arcu. Donet tristique at proin maecenas. Ante elit et iaculis ac sit.
                        </p>
                    </div>
                    <div class="pt-2 pb-4">
                        <button class="btn btn-dark btn-lg rounded-pill px-4 py-1">Contact</button>
                        <span class="ms-4 fs-4">download CV
                            <a href="#" class="card-link">
                                <i style="color: black; margin-left: 10px;" class="fa fa-download fa-lg"></i>
                            </a>
                        </span>
                    </div>
                    <div class="d-flex mt-5">
                        <span class="fs-4">
                            <a href="https://www.linkedin.com/in/rizal-salasi-9a8459118/" 
                                class="link-dark fa-stack fa-lg fa-fw me-3">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </a>
                            <a href="https://www.instagram.com/rizalsalasi/" 
                                class="link-dark fa-stack fa-lg fa-fw me-3">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </a>
                            <a href="https://www.facebook.com/buat.choppa/" 
                                class="link-dark fa-stack fa-lg fa-fw me-3">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </a>
                            <a href="https://twitter.com/SalasiRizal" 
                                class="link-dark fa-stack fa-lg fa-fw me-3">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </div>
                </div>                
                <div class="me-5 pe-5 py-3">
                    <div class="card shadow-lg text-center" style="width: 25rem">
                        <img src="/public/assets/images/image.jpg" class="card-img-top p-5" alt="my profile"/>
                        <div class="card-body">
                            <h2 class="card-title border-top border-1 border-dark pt-2 fw-bold">Rizal Salasi</h2>
                            <p class="card-text">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project list -->
        <section class="pt-5">
            <div class="container-fluid bg-white pt-4 pb-5">
                <h1 class="fw-bold text-center pb-5 my-5">MY PROJECT</h1>
                <div class="row row-cols-1 row-cols-3 g-4 mx-5 pb-5" id="project-list">
                    <!-- project-1 -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-lg rounded-3">
                            <a href="/blog-details/{id}" style="height: 300px;">
                                <img src="/public/assets/images/mobileapp1.jpg" class="card-img-top p-3 rounded-5 h-100" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                <h6 class="card-subtitle text-muted">durasi: 3 Bulan</h6>
                                <p class="card-text my-5">App that used for dumbways student, it was deployed and can be downloaded on playstore. Happy download</p>
                                <div class="technology-icon mb-5">
                                    <img src="/public/assets/images/nodejs.png" alt="" width="40px">
                                    <img src="/public/assets/images/reactjs.png" alt="" width="40px">
                                    <img src="/public/assets/images/typescr.png" alt="" width="40px">
                                    <img src="/public/assets/images/nextjs.png" alt="" width="40px">
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <a href="" class="btn btn-dark rounded" style="width: 50%;">edit</a>
                                    <a href=""  class="btn btn-dark rounded" style="width: 50%;">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- project-2 -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-lg rounded-3">
                            <a href="" class="h-100">
                                <img src="/public/assets/images/mobileapps2.jpeg" class="card-img-top p-3 rounded-5" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                <h6 class="card-subtitle text-muted">durasi: 3 Bulan</h6>
                                <p class="card-text my-5">App that used for dumbways student, it was deployed and can be downloaded on playstore. Happy download</p>
                                <div class="technology-icon mb-5">
                                    <img src="/public/assets/images/nodejs.png" alt="" width="40px">
                                    <img src="/public/assets/images/reactjs.png" alt="" width="40px">
                                    <img src="/public/assets/images/typescr.png" alt="" width="40px">
                                    <img src="/public/assets/images/nextjs.png" alt="" width="40px">
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <a href="" class="btn btn-dark rounded" style="width: 50%;">edit</a>
                                    <a href=""  class="btn btn-dark rounded" style="width: 50%;">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- project-3 -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-lg rounded-3">
                            <a href="" class="h-100">
                                <img src="/public/assets/images/mobileapps3.jpeg" class="card-img-top p-3 rounded-5 h-100" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                <h6 class="card-subtitle text-muted">durasi: 3 Bulan</h6>
                                <p class="card-text my-5">App that used for dumbways student, it was deployed and can be downloaded on playstore. Happy download</p>
                                <div class="technology-icon mb-5">
                                    <img src="/public/assets/images/nodejs.png" alt="" width="40px">
                                    <img src="/public/assets/images/reactjs.png" alt="" width="40px">
                                    <img src="/public/assets/images/typescr.png" alt="" width="40px">
                                    <img src="/public/assets/images/nextjs.png" alt="" width="40px">
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <a href="" class="btn btn-dark rounded" style="width: 50%;">edit</a>
                                    <a href=""  class="btn btn-dark rounded" style="width: 50%;">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- project-4 -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-lg rounded-3">
                            <a href="" style="height: 300px;">
                                <img src="/public/assets/images/mobileapp1.jpg" class="card-img-top p-3 rounded-5 h-100" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                <h6 class="card-subtitle text-muted">durasi: 3 Bulan</h6>
                                <p class="card-text my-5">App that used for dumbways student, it was deployed and can be downloaded on playstore. Happy download</p>
                                <div class="technology-icon mb-5">
                                    <img src="/public/assets/images/nodejs.png" alt="" width="40px">
                                    <img src="/public/assets/images/reactjs.png" alt="" width="40px">
                                    <img src="/public/assets/images/typescr.png" alt="" width="40px">
                                    <img src="/public/assets/images/nextjs.png" alt="" width="40px">
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <a href="" class="btn btn-dark rounded" style="width: 50%;">edit</a>
                                    <a href=""  class="btn btn-dark rounded" style="width: 50%;">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- project-5 -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-lg rounded-3">
                            <a href="" class="h-100">
                                <img src="/public/assets/images/apps.jpg" class="card-img-top p-3 rounded-5 h-100" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                <h6 class="card-subtitle text-muted">durasi: 3 Bulan</h6>
                                <p class="card-text my-5">App that used for dumbways student, it was deployed and can be downloaded on playstore. Happy download</p>
                                <div class="technology-icon mb-5">
                                    <img src="/public/assets/images/nodejs.png" alt="" width="40px">
                                    <img src="/public/assets/images/reactjs.png" alt="" width="40px">
                                    <img src="/public/assets/images/typescr.png" alt="" width="40px">
                                    <img src="/public/assets/images/nextjs.png" alt="" width="40px">
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <a href="" class="btn btn-dark rounded" style="width: 50%;">edit</a>
                                    <a href=""  class="btn btn-dark rounded" style="width: 50%;">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>    
